---
layout: home-page
---
<div class="small-wrapper" align="center">
  <div class="about-container" align="center">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>
      <p class="subtitle">{{site.about-author}}</p>
    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
      {% else %}
        <li class="website"><a href="https://artemsheludko.github.io" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
      {% endif %}

      <!--
      {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      {% endif %}
      -->
      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->

<div class="small-wrapper" align="center">
  <section class="publication-container" align="center">
    <ul>
      <li>
        <img src="{{site.baseurl}}/assets/img/HnH.png">
        <p>Ashish Singh*, Hang Su*, <b>SouYoung Jin</b>, Huaizu Jiang, Chetan Manjesh, Geng Luo, Ziwei He, Li Hong, Erik G. Learned-Miller, and Rosemary Cowell. <b>Half&Half: New Tasks and Benchmarks for Studying Visual Common Sense</b>. CVPR 2019 Workshop on Vision Meets Cognition, 2019.
        <a href="http://openaccess.thecvf.com/content_CVPRW_2019/papers/Vision_Meets_Cognition_Camera_Ready/Singh_HalfHalf_New_Tasks_and_Benchmarks_for_Studying_Visual_Common_Sense_CVPRW_2019_paper.pdf" target="_blank">[pdf]</a></p>
      </li> 

      <li>
        <img src="{{site.baseurl}}/assets/img/cvpr19_domain-adaptation.png">
        <p>Aruni RoyChowdhury, Prithvijit Chakrabarty, Ashish Singh, <b>SouYoung Jin</b>, Huaizu Jiang, Liangliang Cao and Erik Learned-Miller. <b>Automatic adaptation of object detectors to new domains using self-training</b>. Computer Vision and Pattern Recognition (CVPR), 2019. <br>
        <a href="http://vis-www.cs.umass.edu/unsupVideo/docs/self-train_cvpr2019.pdf" target="_blank">[pdf]</a> 
        <a href="http://vis-www.cs.umass.edu/unsupVideo/" target="_blank">[project page]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/eccv18_hard-example.png">
        <p><b>SouYoung Jin*</b>, Aruni RoyChowdhury*, Huaizu Jiang, Ashish Singh, Aditya Prasad, Deep Chakraborty, and Erik Learned-Miller. <b>Unsupervised hard example mining from videos for improved object detection</b>. European Conference on Computer Vision (ECCV), 18 pages, 2018.<br>
        <a href="http://vis-www.cs.umass.edu/unsupVideo/docs/unsup-video_eccv2018.pdf" target="_blank">[pdf]</a> 
        <a href="http://vis-www.cs.umass.edu/unsupVideo/" target="_blank">[project page]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/iccv17_erdos-renyi.jpg">
        <p><b>SouYoung Jin</b>, Hang Su, Chris Stauffer, and Erik Learned-Miller. <b>End-to-end face detection and cast grouping in movies using Erdos-Renyi clustering</b>. International Conference on Computer Vision (ICCV), 10 pages, 2017. 
        <span style="background-color: #FFFF00">spotlight</span> 
        <a href="http://openaccess.thecvf.com/content_ICCV_2017/papers/Jin_End-To-End_Face_Detection_ICCV_2017_paper.pdf" target="_blank">[pdf]</a> 
        <a href="http://openaccess.thecvf.com/content_ICCV_2017/supplemental/Jin_End-To-End_Face_Detection_ICCV_2017_supplemental.pdf" target="_blank">[supp]</a>
        <a href="https://github.com/souyoungjin/erclustering" target="_blank">[code]</a>
        <a href="https://sites.google.com/site/erclustering/" target="_blank">[project page]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/eurographics14_colorization.jpg">
        <p><b>Sou-Young Jin</b>, Ho-Jin Choi, and Yu-Wing Tai. <b>A Randomized Algorithm for Natural Object Colorization</b>. Computer Graphics Forum (Special Issue on Eurographics), vol. 33, no. 2, 2014.  
        <a href="https://onlinelibrary.wiley.com/doi/pdf/10.1111/cgf.12294" target="_blank">[pdf]</a> 
        <a href="https://drive.google.com/file/d/0B-g8hU4c9tRiSTZGWExHZkFrLWs/view" target="_blank">[supp]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/bigcomp14_jigsaw.jpg">
        <p><b>Sou-Young Jin</b>, Suwon Lee, Nur Aziza Azis, and Ho-Jin Choi. <b>Jigsaw Puzzle Image Retrieval via Pairwise Compatibility Measurement</b>. International Conference on Big Data and Smart Computing (BigComp), pages 123 – 127, Bangkok, Thailand, Jan. 15-17, 2014. 
        <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=6741421" target="_blank">[pdf]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/lncs13_lcs.jpg">
        <p><b>Sou-Young Jin</b> and Ho-Jin Choi. <b>Essential Body-Joint and Atomic Action Detection for Human Activity Recognition Using Longest Common Subsequence Algorithm</b>. Lecture Notes in Computer Science, vol. 7729, pages 148-159, 2013. 
        <a href="http://koasas.kaist.ac.kr/bitstream/10203/172121/1/2012_ACCV(workshop)_%EC%A7%84%EC%86%8C%EC%98%81.pdf" target="_blank">[pdf]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/icmv13_error-pose.png">
        <p><b>Sou-Young Jin</b>, Ho-Jin Choi, and Youssef Iraqi. <b>Depth Consistency Evaluation for Error-Pose Detection</b>. International Conference on Machine Vision (ICMV), 15-16 November 2013.  
        <a href="https://drive.google.com/file/d/0B-g8hU4c9tRiVVNtbHh1NUZEdEE/view" target="_blank">[pdf]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/icmv13_clustering.jpg">
        <p><b>Sou-Young Jin</b>, Ho-Jin Choi. <b>Clustering Space-Time Interest Points for Action Representation</b>. International Conference on Machine Vision (ICMV), 15-16 November 2013.   
        <a href="https://drive.google.com/file/d/0B-g8hU4c9tRiTzBJQ3ppRWQ2S0E/view" target="_blank">[pdf]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/scr12_surveillance.jpg">
        <p><b>Sou-Young Ji</b>, Young-Seob Jong, Chankyu Park, Kyo-Joong Oh, and Ho-Jin Choi. <b>An Intelligent Multi-Sensor Surveillance System for Elderly Care</b>. Smart Computing Review, vol. 2, no. 4, August 2012. 
        <a href="https://drive.google.com/file/d/0B-g8hU4c9tRiQVBSTnlaUWNTSjA/view" target="_blank">[pdf]</a></p>
      </li>

      <li>
        <img src="{{site.baseurl}}/assets/img/none.png">
        <p><b>Sou-Young Jin</b>, Jae-Kyung Won, Hojin Lee, and Ho-Jin Choi. <b>Construction of Automated Screening System to Predict Breast Cancer Diagnosis and Prognosis. Basic and Applied Pathology</b>, vol. 5, issue 1, pages 15-18, 16 Mar. 
        <a href="https://drive.google.com/file/d/0B-g8hU4c9tRiWEtSSzJpWTVwcVE/view" target="_blank">[pdf]</a></p>
      </li>

    </ul>
  </section>
</div>


<!--
<ol class="post-card-box clearfix">
  {% for post in paginator.posts %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.baseurl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.baseurl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
-->